body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(15 23 42);
    color: white;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2spx;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border: 2px solid rgba(119, 136, 153, 0.123);
    border-radius: 7px;
}

.display {
    height: 20px;
    margin: 30px 20px;
    margin-top: 70px;
    border-radius: 5px;
    text-align: right;
    align-items: baseline;
}

.buttons {
    height: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}

button {
    width: 75px;
    height: 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff07;
    transition: 200ms;
    border: none;
    color: white;
    font-size: 17px;
}

button:hover {
    cursor: default
}

#equalto {
    background-color: #ffffff12;
}

button:active {
    background-color: #ffffff0c;
    font-size: 15px;
}